.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
}

.wrapper h2 {
    color: #fff;
    text-align: center;
    width: 100%;
}

.control-bar {
    background-color: rgb(54, 54, 54);
}


.video-room-container{
    background-color: #004;
    width: 100%;
    height: 90%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

.room-overview {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.room-overview::-webkit-scrollbar {
    display: none;
  }

.room-tile {
    background-color: rgba(116, 115, 115, 0.6);
    padding: 10px;
    margin-top: 1vh;
    min-width: 60%;
    max-width: 80%;
    border-radius: 12px;
    transition: all 0.2s;
    overflow: hidden;
}

.room-tile::before {
    content: '_';
    color: #00000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100%;
    width: 300px;
    background: linear-gradient(70deg, transparent, transparent, rgba(255, 255, 255, 0.8), transparent, transparent);
    transition: 0.01s;
}

.room-tile:hover {
    background-color: rgba(255, 138, 29, 0.863);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s;

}

.room-tile:hover::before {
    left: 100%;
    transition: 0.4s;
}

.room-tile::after {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    content: attr(data-text);
    font-size: 20px;
    padding: 14px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(13, 13, 122);
    opacity: 0;
}

.room-tile.joinable:hover::after {
    opacity: 1;
    transition: all 0.5s;

}

.room-label {
    color: rgb(246, 246, 246);
}

.room-label span {
    float: right;
    font-style: italic;
}

label {
    color: #fff;
    width:100%;
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.creation-tile {
    background-color: rgba(141, 75, 0, 0.712);
    margin-top: 40px;
    cursor: default;
}

#room-creation {
    width: 60%;
    padding: 10px;
    margin-right: 5%;
    border: 0;
    background: rgba(240, 240, 240, 0.7);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 1rem;
    transition: 0.25s;
}

#room-creation:hover {
    color: rgb(95, 95, 95);
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}


.video-frame {
    margin: 3px;
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(255, 255, 255, 0.4);
    background: rgb(192, 191, 191);
    animation: show 0.5s ease;
}

.video-overlay {
    color: rgb(246, 246, 246);
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 23px;
    font-weight: 100;
    display: block;
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(90, 90, 90, 0.609);
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.2) translateY(150px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
