<h2>Conferencing</h2>
<h3>
    <label class="control-switch">
        <input [checked]="rtcPreferences.bShowOwnVideo" (change)="onShowOwnVideoCheck()" type="checkbox">
        <span></span>
        <i></i>
    </label>
    <span>&nbsp;&nbsp;Show own video-frame</span>
</h3>

<h3>
    <label class="control-switch">
        <input [checked]="rtcPreferences.bHighlightSpeakers" (change)="onHighlightSpeakersCheck()" type="checkbox">
        <span></span>
        <i></i>
    </label>
    <span>&nbsp;&nbsp;Highlight speaking users</span>
</h3>


<h2>Miscellaneous</h2>
<h3>
    <label class="control-switch">
        <input [checked]="rtcPreferences.bCamMissingWarning" (change)="onDeviceWarningCheck()" type="checkbox">
        <span></span>
        <i></i>
    </label>
    <span>&nbsp;&nbsp;Show warning for missing camera</span>
</h3>

<h4>Change Username:</h4>
<div class="new-name-container">
    <ng-container *ngIf="!bInRoom">
        <input (keyup.enter)="onNameSubmit()" [(ngModel)]="userName" type="text">
        <button class="btn" (click)="onNameSubmit()">Change</button>
    </ng-container>
    <h4 class="text-blue" *ngIf="bInRoom">You can't change your name while you are in a room.</h4>
</div>