<div *ngIf="bIntroDisplayed" class="wrapper">
  <as-split  
  #split
  direction="horizontal"
  useTransition="true"
  gutterSize="5"
  (dragStart)="dragStartHandler($event)"
  (dragEnd)="dragEndHandler($event)"
  (gutterClick)="splitGutterClick($event)"
  >
    <as-split-area class="main-container" [size]="75">
      <div>
      <div class="menu-overlay">
        <span [ngClass]="{active: bShowSidebar}" (click)="onConnectClick()" class="light-blue control-btn"><a> <i class="fa fa-2x fa-users"></i> </a></span>
      </div>
      <iframe frameborder="0" src="https://recordingstudio.gamelet.eu"></iframe>

      <!--This is needed to prevent weird behavior from rescaling an iframe-->
      <div [hidden]="bShowIframeHider === false" class="hack-iframe-hider"></div>
    </div>
    </as-split-area>
      <as-split-area class="side-container" [visible]="bShowSidebar" minSize="25" maxSize="99" [size]="25">
        <app-starfield-background *ngIf="activeBackground === backgrounds.StarField && bShowSidebar" ></app-starfield-background>
        <app-color-orb-background *ngIf="activeBackground === backgrounds.ColorOrbs && bShowSidebar"></app-color-orb-background>
        <app-rtc-side-client></app-rtc-side-client>
        <!-- <app-rtcclient></app-rtcclient> -->
      </as-split-area>
  </as-split>
</div>

<app-intro (animationCovering)="onIntroCoveringScreen()"></app-intro>