<app-popup #userAuth [windowType]="'info'" [title]="'Login'">
    <app-user-auth [windowRef]="userAuth"></app-user-auth>
</app-popup>

<app-popup #chat [windowType]="'info'" (onClose)="onChatClose()" [title]="'Room Chat'">
    <app-chatclient></app-chatclient>
</app-popup>

<app-popup #roomCreator [windowType]="'info'" [title]="'Room Creation'">
    <app-room-creator [windowRef]="roomCreator"></app-room-creator>
</app-popup>

<app-popup #settings [title]="'Settings'">
    <app-settings [activeTab]="activeSettingsTab"></app-settings>
</app-popup>

<app-popup #screenCapture [windowType]="'info'" [title]="'Screen Share'">
    <app-screen-capture-picker [windowRef]="screenCapture"></app-screen-capture-picker>
</app-popup>

<app-popup #custom [windowType]="customConfig?.windowType" [title]="customConfig?.customTitle">
    <p class="custom-msg" [innerHTML]="customConfig?.customMessage"></p>
    <div *ngIf="customConfig?.bCustomBtn" class="flex-center full-width">
        <span (click)="closeCustomPopup()" class="green control-btn control-wide">
            <a>
                <p class="custom-msg">{{ customConfig?.customBtnText }}</p>
            </a>
        </span>
    </div>
</app-popup>