.container {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #123;
    color: #00000000;
    font-size: 52px;
    overflow: hidden;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container::before, .container::after {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 224s -27s move infinite ease-in-out alternate;
}

.inner::before {
    text-shadow: 1.3603058141em 0.564446439em 7px rgba(255, 143, 0, 0.9),
                -0.0131156233em 1.4146243146em 7px rgba(0, 255, 174, 0.9),
                -0.4451367256em 2.3451737821em 7px rgba(255, 164, 0, 0.9),
                0.3844282518em -0.0571159862em 7px rgba(0, 255, 65, 0.9),
                1.7570383024em 1.7953015757em 7px rgba(4, 0, 255, 0.9),
                1.5765418469em 0.6707858356em 7px rgba(0, 105, 255, 0.9),
                2.3944808416em -0.2302364807em 7px rgba(56, 0, 255, 0.9),
                0.6317386975em -0.209601236em 7px rgba(255, 0, 143, 0.9),
                1.731991401em 1.19110302em 7px rgba(255, 0, 113, 0.9),
                1.2623901076em -0.4480622424em 7px rgba(215, 0, 255, 0.9),
                1.7078834044em 1.5075593652em 7px rgba(255, 45, 0, 0.9),
                1.1858424439em 0.0104160214em 7px rgba(255, 145, 0, 0.9),
                1.7111718274em 0.1993336519em 7px rgba(0, 83, 255, 0.9),
                0.8315890451em 1.0475485601em 7px rgba(255, 6, 0, 0.9),
                1.5391855839em -0.4636865808em 7px rgba(246, 255, 0, 0.9),
                -0.3187834765em -0.2515601352em 7px rgba(0, 255, 72, 0.9),
                0.3271303887em -0.1287421394em 7px rgba(255, 55, 0, 0.9),
                2.0937239394em 2.3531476806em 7px rgba(255, 121, 0, 0.9),
                1.2658460539em 2.0244199154em 7px rgba(0, 127, 255, 0.9),
                0.1460309473em 1.7424927164em 7px rgba(0, 255, 238, 0.9),
                2.1808364931em 1.8408329611em 7px rgba(0, 255, 252, 0.9),
                1.429671328em 0.7841189076em 7px rgba(255, 24, 0, 0.9),
                0.8587205779em 1.2127188079em 7px rgba(229, 255, 0, 0.9),
                2.0912593777em -0.2815773917em 7px rgba(234, 255, 0, 0.9),
                2.0583860523em 1.5340365235em 7px rgba(0, 255, 163, 0.9),
                2.0718386263em 2.1433936205em 7px rgba(255, 191, 0, 0.9),
                0.8735955516em 1.8687709433em 7px rgba(255, 59, 0, 0.9),
                2.2122884307em -0.0900187022em 7px rgba(0, 255, 251, 0.9),
                2.4017534247em 0.5537736953em 7px rgba(0, 70, 255, 0.9),
                2.0704725184em 1.5234541573em 7px rgba(0, 247, 255, 0.9),
                2.4396892214em -0.2276343975em 7px rgba(56, 0, 255, 0.9),
                0.3612869675em 2.191698705em 7px rgba(255, 21, 0, 0.9),
                1.3824004921em -0.3026109804em 7px rgba(0, 114, 255, 0.9),
                -0.1231973217em 1.0810982679em 7px rgba(31, 0, 255, 0.9),
                1.2843684051em 2.0779354298em 7px rgba(115, 255, 0, 0.9),
                -0.1126833955em -0.1665479549em 7px rgba(255, 0, 8, 0.9),
                1.3404451011em 1.6424086689em 7px rgba(4, 255, 0, 0.9),
                0.4796670777em 2.3908519543em 7px rgba(255, 0, 34, 0.9),
                1.8444809088em 1.4169084679em 7px rgba(0, 217, 255, 0.9),
                0.0466470878em 0.6799769871em 7px rgba(255, 0, 234, 0.9),
                0.8356756716em -0.3480422565em 7px rgba(129, 0, 255, 0.9);
    animation-duration: 184s;
    animation-delay: -27s;
}

.inner::after {
    text-shadow: -0.4499290874em 1.5292288898em 7px rgba(37, 0, 255, 0.9),
                 1.8022901474em 0.9432881095em 7px rgba(60, 0, 255, 0.9),
                 1.3958251824em 1.5368472533em 7px rgba(196, 255, 0, 0.9),
                 0.8069102635em 1.5820007026em 7px rgba(162, 255, 0, 0.9),
                 0.9060926388em 0.0500729277em 7px rgba(0, 100, 255, 0.9),
                 1.0713783021em 1.5568894273em 7px rgba(171, 0, 255, 0.9),
                 2.1983843649em 0.7909562502em 7px rgba(0, 230, 255, 0.9),
                 0.1302758006em 2.0883847807em 7px rgba(255, 113, 0, 0.9),
                 2.0271140695em 2.2460849944em 7px rgba(19, 255, 0, 0.9),
                 -0.2786030769em 1.7191191879em 7px rgba(255, 121, 0, 0.9),
                 2.1383914765em -0.0007383085em 7px rgba(50, 255, 0, 0.9),
                 -0.1862886595em 0.7552399298em 7px rgba(255, 249, 0, 0.9),
                 1.399442033em -0.0831000839em 7px rgba(232, 255, 0, 0.9),
                 0.2034000843em 2.0899202147em 7px rgba(45, 255, 0, 0.9),
                 2.1174716874em -0.2525599487em 7px rgba(255, 64, 0, 0.9),
                 -0.3625142294em 0.5466767591em 7px rgba(31, 0, 255, 0.9),
                 1.6151990633em 0.8336849508em 7px rgba(255, 0, 141, 0.9),
                 -0.0159804735em 1.2619428662em 7px rgba(255, 49, 0, 0.9),
                 2.2802610817em 0.5416754753em 7px rgba(0, 255, 178, 0.9),
                 -0.2345720863em 0.4818480712em 7px rgba(0, 255, 94, 0.9),
                 2.1867000435em 1.5858231285em 7px rgba(255, 0, 202, 0.9),
                 1.6149782627em 1.1172872339em 7px rgba(134, 0, 255, 0.9),
                 -0.1472096444em 2.0141064064em 7px rgba(255, 126, 0, 0.9),
                 1.6731999445em 2.4377135061em 7px rgba(0, 255, 201, 0.9),
                 2.1220664958em 1.7362428041em 7px rgba(255, 0, 234, 0.9),
                 -0.4875948181em 2.1918439518em 7px rgba(49, 0, 255, 0.9),
                 -0.2496807845em 1.145000996em 7px rgba(150, 255, 0, 0.9),
                 2.2986045015em 1.703158772em 7px rgba(255, 60, 0, 0.9),
                 1.3892278961em 1.216560565em 7px rgba(0, 255, 227, 0.9),
                 0.6432263377em 1.9534469111em 7px rgba(0, 255, 129, 0.9),
                 -0.2972208257em 1.0332693962em 7px rgba(218, 255, 0, 0.9),
                 -0.2034071674em 0.6043739799em 7px rgba(0, 255, 79, 0.9),
                 1.9494801504em 2.329953764em 7px rgba(132, 255, 0, 0.9),
                 1.775984185em 0.6357387121em 7px rgba(0, 255, 47, 0.9),
                 0.7281771894em 1.1008345151em 7px rgba(174, 255, 0, 0.9),
                 -0.4835653205em 1.9991274793em 7px rgba(0, 255, 65, 0.9),
                 1.3948244147em 1.3577352898em 7px rgba(214, 0, 255, 0.9),
                 1.3063425265em 0.5553012099em 7px rgba(0, 114, 255, 0.9),
                 0.9984985696em 0.6066260498em 7px rgba(66, 0, 255, 0.9),
                 1.247950373em 1.6768975013em 7px rgba(14, 255, 0, 0.9),
                 2.479287296em 0.8930413219em 7px rgba(236, 255, 0, 0.9);
    animation-duration: 165s;
    animation-delay: -32s;
}

.container::before {
    text-shadow: 2.4854048893em 0.3663634115em 7px rgba(0, 255, 65, 0.9),
                 0.0437288391em 1.5907107538em 7px rgba(168, 255, 0, 0.9),
                 1.392115771em 1.0364727163em 7px rgba(0, 255, 63, 0.9),
                 2.1392358215em -0.1598663425em 7px rgba(0, 255, 254, 0.9),
                 -0.2198223623em 1.9397475907em 7px rgba(0, 171, 255, 0.9),
                 0.6208382867em 0.6090961309em 7px rgba(0, 255, 195, 0.9),
                 2.1469146459em 1.8817763465em 7px rgba(255, 140, 0, 0.9),
                 1.1209559453em 2.3546469564em 7px rgba(255, 201, 0, 0.9),
                 1.7684872425em 2.0327210018em 7px rgba(96, 0, 255, 0.9),
                 -0.0810056013em 1.6500938582em 7px rgba(0, 88, 255, 0.9),
                 1.5935770098em -0.0211588123em 7px rgba(255, 0, 182, 0.9),
                 1.7456371049em 1.7181170782em 7px rgba(255, 0, 117, 0.9),
                 0.5271194075em 0.2703175465em 7px rgba(0, 255, 252, 0.9),
                 0.4197231913em 1.6274307435em 7px rgba(255, 233, 0, 0.9),
                 2.2554617418em 2.1347797546em 7px rgba(255, 0, 71, 0.9),
                 1.2607824245em 1.9842239715em 7px rgba(0, 142, 255, 0.9),
                 1.6540423504em -0.2497237244em 7px rgba(255, 0, 169, 0.9),
                 -0.0446128321em 1.7029603104em 7px rgba(135, 0, 255, 0.9),
                 1.8012093589em 0.811585695em 7px rgba(0, 255, 37, 0.9),
                 -0.2705720118em 1.9069541174em 7px rgba(255, 0, 124, 0.9),
                 1.1107822721em 2.3854562459em 7px rgba(217, 0, 255, 0.9),
                 -0.3866136576em 1.3901553388em 7px rgba(93, 0, 255, 0.9),
                 1.1270292648em 0.9965550816em 7px rgba(146, 255, 0, 0.9),
                 0.6823907451em 0.0080420199em 7px rgba(255, 11, 0, 0.9),
                 2.0914956216em 0.2045704885em 7px rgba(255, 158, 0, 0.9),
                 1.3994057836em 0.0876854207em 7px rgba(41, 0, 255, 0.9),
                 1.0404884827em 1.9559843141em 7px rgba(0, 177, 255, 0.9),
                 1.7424829805em 2.465426973em 7px rgba(255, 190, 0, 0.9),
                 1.9989988392em 0.5476678287em 7px rgba(88, 255, 0, 0.9),
                 1.4136269343em 1.2527733228em 7px rgba(76, 0, 255, 0.9),
                 -0.1171346869em 1.512560571em 7px rgba(239, 255, 0, 0.9),
                 -0.2243845817em 0.9824394944em 7px rgba(0, 255, 39, 0.9),
                 1.744334318em 0.2467909546em 7px rgba(160, 255, 0, 0.9),
                 2.1280215608em 1.2845710254em 7px rgba(255, 0, 96, 0.9),
                 1.1025025831em 1.6083785882em 7px rgba(255, 0, 138, 0.9),
                 0.1352037523em 1.1816382356em 7px rgba(255, 0, 179, 0.9),
                 1.0881777706em 0.4023810001em 7px rgba(0, 255, 200, 0.9),
                 0.5517640292em 1.7423952449em 7px rgba(235, 255, 0, 0.9),
                 -0.106293312em 0.1417997684em 7px rgba(255, 86, 0, 0.9),
                 2.395676307em 2.3838417745em 7px rgba(0, 255, 164, 0.9),
                 -0.1027134704em -0.2164485621em 7px rgba(0, 255, 210, 0.9);
    animation-duration: 152s;
    animation-delay: -23s;
}

.container::after {
    text-shadow: -0.0169403189em 0.4317009733em 7px rgba(255, 0, 151, 0.9),
                 0.6863184441em -0.0704804708em 7px rgba(255, 203, 0, 0.9),
                 0.9254773246em 1.3283448624em 7px rgba(255, 132, 0, 0.9),
                 0.9347990532em -0.0360735787em 7px rgba(157, 0, 255, 0.9),
                 0.954429849em 0.4417192609em 7px rgba(234, 0, 255, 0.9),
                 0.4731271826em 0.0894153202em 7px rgba(24, 255, 0, 0.9),
                 1.3326092946em 0.8458200985em 7px rgba(0, 255, 170, 0.9),
                 1.7673040956em 2.1330910853em 7px rgba(255, 0, 66, 0.9),
                 -0.4503762493em 0.5034564661em 7px rgba(255, 118, 0, 0.9),
                 0.6125799766em 2.4299316583em 7px rgba(246, 0, 255, 0.9),
                 0.1399536571em 2.4237144386em 7px rgba(255, 0, 82, 0.9),
                 2.3235928952em -0.1767598036em 7px rgba(255, 39, 0, 0.9),
                 0.4954708655em 1.4965033422em 7px rgba(0, 255, 23, 0.9),
                 2.113755169em -0.4764657558em 7px rgba(0, 255, 39, 0.9),
                 1.7083860268em 1.3346951536em 7px rgba(255, 112, 0, 0.9),
                 1.1848717954em 1.89496457em 7px rgba(255, 168, 0, 0.9),
                 1.1259173233em 0.644783246em 7px rgba(0, 40, 255, 0.9),
                 -0.170248913em 2.463362549em 7px rgba(0, 1, 255, 0.9),
                 1.6444915091em 0.0363817903em 7px rgba(255, 0, 50, 0.9),
                 0.4873531658em 1.0026636625em 7px rgba(255, 0, 193, 0.9),
                 -0.2766577128em 0.3355662394em 7px rgba(126, 0, 255, 0.9),
                 0.1968092074em 0.7432578391em 7px rgba(255, 0, 1, 0.9),
                 0.0171802257em 0.2986529801em 7px rgba(255, 24, 0, 0.9),
                 0.6742178704em 1.8190717579em 7px rgba(255, 21, 0, 0.9),
                 -0.2923391436em 0.5002895402em 7px rgba(255, 222, 0, 0.9),
                 0.6175274315em 1.4178058568em 7px rgba(0, 141, 255, 0.9),
                 1.1149196832em 1.3066907539em 7px rgba(255, 0, 228, 0.9),
                 1.7491273826em 1.0694545115em 7px rgba(0, 255, 175, 0.9),
                 1.8639446183em 1.818191944em 7px rgba(79, 0, 255, 0.9),
                 0.7589295264em 0.5121653827em 7px rgba(0, 44, 255, 0.9),
                 1.9153625604em 2.0615670863em 7px rgba(9, 255, 0, 0.9),
                 0.7278412155em 1.3640003113em 7px rgba(0, 178, 255, 0.9),
                 2.0948576237em 0.3890117775em 7px rgba(0, 146, 255, 0.9),
                 1.8466092597em 2.4974932603em 7px rgba(0, 255, 202, 0.9),
                 0.4099901095em 1.3494631004em 7px rgba(255, 253, 0, 0.9),
                 0.0009850077em 2.1764829972em 7px rgba(255, 153, 0, 0.9),
                 0.0480335325em 2.0451767199em 7px rgba(0, 147, 255, 0.9),
                 2.1807841135em 0.7432454037em 7px rgba(255, 21, 0, 0.9),
                 0.2030450065em 1.8137553888em 7px rgba(0, 255, 186, 0.9),
                 2.1046675807em 1.9045143375em 7px rgba(0, 236, 255, 0.9),
                 -0.3203630728em 0.0567220355em 7px rgba(102, 255, 0, 0.9);
    animation-duration: 139s;
    animation-delay: -19s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}