/*================ Loading Anim ============== */
.loading-container .box {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    animation: rotation 10s linear infinite;
}

.loading-container .box .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d40101bc;
    animation: shrink-grow 5s linear infinite;
}

.loading-container .box .circle:nth-child(2) {
    background: #fa5400bc;
    animation-delay: -2.5s;
}

h2 {
    color: #ffffffee;
    text-align: center;
}


@keyframes shrink-grow {
    0%{
        transform: scale(1);
        transform-origin: left;
    }
    50%{
        transform: scale(0);
        transform-origin: left;
    }
    50.01%{
        transform: scale(0);
        transform-origin: right;
    }
    100%{
        transform: scale(1);
        transform-origin: right;
    }
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}