<div class="control-bar">
    <div (click)="onSettingsClick()" class="settings-btn white control-btn">
        <a><i class="fas fa-cog"></i></a>
    </div>
    <span (click)="onMicroClick()" [ngClass]="{active: btnStates.bMicroActive}" class="orange control-btn">
        <a><i class="fas fa-lg fa-microphone"></i></a>
    </span>
    <span [ngClass]="{active: btnStates.bCamActive}" (click)="onVideoClick()" class="green control-btn">
        <a><i class="fas fa-lg fa-video"></i></a>
    </span>
    <span [ngClass]="{active: btnStates.bScreenSharing}" (click)="onShareScreenClick()" @ellipticslide  [hidden]="bInRoom===false" class="blue control-btn">
        <a><i class="fas fa-lg fa-clone"></i></a>
    </span>
    <span 
        [ngClass]="{'active': btnStates.bChatOpen, 'chat-pending': !btnStates.bChatOpen && bMessagePending}" 
        (click)="onToggleChatClick()" 
        [hidden]="bInRoom===false" 
        class="white control-btn"
        @ellipticslide
    >
        <a><i class="fa fa-lg fa-comments"></i></a>
    </span>
    <span (click)="onLeaveRoomClick()" @ellipticslide [hidden]="bInRoom===false"  class="red control-btn">
        <a><i class="fa fa-lg fa-times"></i></a>
    </span>
</div>
