<div [ngClass]="{'interactable': bInRoom}" class="wrapper">
    <div class="screenarea" [ngClass]="{'area-shown': sharedScreens > 0, 'area-hidden': sharedScreens == 0}" #screenarea>
        <ng-container *ngFor="let user of usersInRoom">
            <div
                @ellipticslide
                *ngIf="user.screenStream"
                class="video-frame"
                [id]="user.id"
                [ngStyle]="{'width.px': calculateSize(false, true), 'height.px': calculateSize(false, false)}">
                <video autoplay style="width: 100%; height: 100%;" [srcObject]="user.screenStream"></video>
                <div class="video-overlay">
                    <!-- <audio *ngIf="user.audioStream" autoplay [srcObject]="user.audioStream"></audio> -->
                   Screen of: {{ user.name }}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="videoarea" [ngClass]="{'area-small': sharedScreens > 0}" #videoarea>
        <div
            @ellipticslide
            *ngFor="let user of usersInRoom"
            class="video-frame"
            [id]="user.id"
            [ngStyle]="{'width.px': calculateSize(true, true), 'height.px': calculateSize(true, false)}"
        >
            <video *ngIf="user.camStream" autoplay style="width: 100%; height: 100%;"
                [srcObject]="user.camStream"></video>
            <div class="video-overlay">
                <audio *ngIf="user.audioStream" autoplay [srcObject]="user.audioStream"></audio>
                {{ user.name }}
            </div>
        </div>
    </div>
    <div *ngIf="bChatDocked && bInRoom" class="chat">
        <app-chatclient></app-chatclient>
    </div>
</div>