<div [ngClass]="{'interactable': bInRoom}" class="wrapper">
    <div class="screenarea" [ngClass]="{'area-shown': sharedScreens > 0, 'area-hidden': sharedScreens == 0}" #screenarea>
        <ng-container *ngFor="let user of usersInRoom">
            <div
                @ellipticslide
                *ngIf="user.screenStream"
                class="video-frame"
                [id]="user.id"
                [ngStyle]="{'width.px': calculateSize(false, true)}">
                <video autoplay style="width: 100%; height: 100%;" [srcObject]="user.screenStream"></video>
                <div class="video-overlay">
                    <!-- <audio *ngIf="user.audioStream" autoplay [srcObject]="user.audioStream"></audio> -->
                   Screen of: {{ user.name }}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="videoarea" [ngClass]="{'area-small': sharedScreens > 0}" #videoarea>
        <div
            @ellipticslide
            *ngFor="let user of usersInRoom; let i = index"
            class="video-frame"
            [id]="user.id"
            [ngStyle]="{'width.px': calculateSize(true, true)}"
            [ngClass]="{highlighted: user.bIsSpeaking}"
        >
            <video *ngIf="user.camStream" autoplay style="width: 100%; height: 100%;" [srcObject]="user.camStream"></video>
            <div class="video-overlay">
                <ng-container *ngIf="user.audioStream">
                    <audio [id]="user.id + '-'+i" autoplay [srcObject]="user.audioStream"></audio>
                    <i class="fa fa-volume-up volume"></i>
                    <input class="volume-slider" type="range" min="0" max="100" value="100" (change)="onVolumeChange($event, user.id + '-'+i)">
                </ng-container>
                <i *ngIf="!user.audioStream && !user.bIsThisClient" class="fa fa-lg fa-microphone-slash muted"></i>
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="bChatDocked && bInRoom" class="chat">
        <app-chatclient></app-chatclient>
    </div>
</div>