<div #scrollable class="chat-container">
    <ng-container *ngFor="let message of chatHistory">
        <div class="chat-message" [ngClass]="{'own-message' : getClientId() === message.senderId, 'foreign-message': getClientId() !== message.senderId}">
            <h5>{{message.senderName}}:</h5> 
            <p [innerHTML]="message.message | linkify"></p>
        </div>
    </ng-container>
</div>
<div class="new-msg-container">
    <input (keyup.enter)="onMsgSubmit()" [(ngModel)]="chatmessage" type="text">
    <button class="btn" (click)="onMsgSubmit()">Send</button>
</div>
